---
import Layout from "../layouts/Layout.astro";
---
	<Layout>
<div slot="article" class="w-full flex justify-center items-center dark:text-black mt-5 mb-5">
	<div class=" text-center">
	<p class=" text-3xl mb-3">Bienvenido a mi sitio!</p>
	<p class=" text-2xl mb-3">Accede al menú para explorarlo</p>
	<img src="/public/misc/imageninicio.jpg" alt="Mi Foto" class=" max-w-full max-h-full">
</div>
</div>



  


	</Layout>
	
</html>
